@font-face {
    font-family: "Eudoricon";
    src: url("https://edbr.vteximg.com.br/arquivos/Eudoricon.eot.css"),
         url("https://edbr.vteximg.com.br/arquivos/Eudoricon.otf.css") format("opentype"),
         url("https://edbr.vteximg.com.br/arquivos/Eudoricon.svg.css") format("svg"),
         url("https://edbr.vteximg.com.br/arquivos/Eudoricon.ttf.css") format("truetype"),
         url("https://edbr.vteximg.com.br/arquivos/Eudoricon.woff.css") format("woff"),
         url("https://edbr.vteximg.com.br/arquivos/Eudoricon.woff2.css") format("woff2");
    font-weight: normal;
    font-style: normal;
}