<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/style.css">

</head>
<body>
  <%- include('partials/nav') %> 
  <h1>Contact US</h1>
  <p>You won't find a website better anywere ele!</p>
  <p><strong> Thanks for getting in touch! </strong></p>
  <p>You contacted<strong> <%= data.who %> </strong>in the <strong><%= data.department %> </strong>department  </p>
  <p>We will you reply to you at <strong> <%= data.email %> </strong>  </p>
</body>
</html>